<div>
  <h3>Tags</h3>
  <div id="tag-list">
    <p-tag
      severity="danger"
      (click)="addTag()"
      value="+ Add Tag"
      [rounded]="true"
      class="cursor-pointer"
    />
    <div class="newTags">
      <button (click)="visibleDialogTag = true" id="seeMoreTags">
        See more . . .
      </button>
      <p-dialog
        header="Tags"
        [(visible)]="visibleDialogTag"
        [style]="{ width: '25rem', height: '25rem' }"
      >
        <div class="tags-dialog">
          <p-tag
            *ngFor="let tag of tags()"
            class="tag-dialog"
            value="{{ tag.tag_title }}"
            [rounded]="true"
          ></p-tag>
        </div>
      </p-dialog>
    </div>
    <div class="sidebar-tags-list">
      <p-tag
        id="sidebar-tags"
        *ngFor="let tag of tags()"
        value="{{ tag.tag_title }}"
        [rounded]="true"
      ></p-tag>
    </div>
  </div>
</div>
<pop-confirm-message></pop-confirm-message>
<pop-message></pop-message>