* {
  color: black;
}

/* HEADER */

.task-item {
  background-color: #f8f8f8;
  border-radius: 15px;
  padding: 20px;
  margin-bottom: 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  border: #666 solid 1px;
}

button {
  align-self: flex-end;
  border: none;
  background-color: #f8f8f8;
  cursor: pointer;
  width: 50px;
}

p {
  margin: 0;
  width: 100%;
  word-wrap: break-word;
}

#task-title {
  font-weight: 600;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* BODY */

.body {
  margin-top: 12px;
  background-color: #f8f8f8;
  border-radius: 15px;
  padding: 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  border: #666 solid 1px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 100px;
}

.body > div {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.subtasks-length {
  background-color: #000000;
  border-radius: 50%;
  width: 40px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
}