<div class="task-item">
  <div class="header">
    <p id="task-title" [ngClass]="{ 'deleteMode': deleteMode() }">{{ task().title}}</p>
    <button (click)="selected = !selected">. . .</button>
  </div>
  <div [hidden]="!selected" class="body">
    <div>
      <i class="pi pi-calendar"></i>
      <p>{{ task().date }}</p>
    </div>
    <div>
      <i class="pi pi-list"></i>
      <p *ngIf="task().list_id">{{ list_title() }}</p>
    </div>
    <div *ngIf="subtaskCount()">
      <span class="subtasks-length">{{ subtaskCount() }}</span>
      <p>Subtasks</p>
    </div>
  </div>
</div>
