<div class="calendar-container">
  <h2>Calendar</h2>
  <p-divider />
  <div class="card flex justify-content-center">
    <p-datepicker
      [(ngModel)]="task_date"
      [showButtonBar]="true"
      [showIcon]="true"
      dateFormat="dd/mm/yy"
      placeholder="Select Date"
      (onSelect)="onDateSelect()"
    />
  </div>
  <p-divider />
  <div class="task-list">
    <p *ngIf="dateTasks().length == 0" id="no-tasks-msg">
      No tasks for {{ (task_date | date: 'dd/MM/yyyy') || 'current date'}}
    </p>
    <task-item *ngFor="let task of dateTasks()" [task]="task"></task-item>
  </div>
</div>
