/* TITLE */

h3 {
  font-family: Poppins, sans-serif;
  font-size: 16px;
  font-weight: 600;
  color: #000;
  margin-bottom: 10px;
}

.sidebar {
  background-color: transparent;
}

/* NEW CATEGORIES */

#category-list {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  height: 70px;
  overflow: auto;
  flex-direction: row;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.newCategories:hover {
  scrollbar-width: thin;
}

/* CATEGORY ITEM */

.category-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
  width: 100%;
}

.category-item > p {
  background-color: #fa9792;
  border-radius: 5px;
  color: #ffffff;
  padding: 0 10px;
  font-weight: 600;
}

p-tag {
  width: 85%;
}

#seeMoreCategories {
  display: none;
}

@media screen and (max-height: 825px) {
  h3 {
    margin-bottom: 0;
    font-size: 14px;
  }

  .category-item {
    display: none;
  }

  .categories-dialog {
    width: 100%;
    height: auto;
    flex-wrap: wrap;
    gap: 8px;
    display: flex;
    flex-direction: row;
  }

  #category-buttons {
    display: flex;
    flex-direction: row;
    height: 23px;
    align-items: center;
    margin-top: 22px;
    gap: 8px;
    margin-bottom: 25px;
  }

  #seeMoreCategories {
    display: flex;
    justify-content: center;
    text-align: center;
    color: #d5d5d5;
    background-color: #ffc9c9;
    padding: 4px;
    border-radius: 4px;
    width: 40px;
    cursor: pointer;
    height: 30px;
    margin-top: -30px;
    margin-left: 10px;
  }

  .newCategories {
    margin-top: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
