#right-image {
    background-image: url("../../../../assets/imgs/bg.png");
    background-size: cover;
    background-repeat: repeat;
    height: 100%;
    display: flex;
    position: fixed;
    right: 0;
    top: 0;
    width: 13%;
}

#open-sidebar {
    display: none;
    cursor: not-allowed;
}

#center-page {
    display: flex;
    flex-direction: column;
    width: 70%;
    margin-left: 100px;
    height: 100%;
}

@media screen and (max-width: 1180px) {
    #right-image {
        transform: translateX(100%);
        transition-property: transform;
        transition-duration: 0.8s;
    }
}

@media screen and (max-width: 780px) {
    #open-sidebar {
        display: block;
        position: fixed;
        overflow: hidden;
        bottom: 10px;
        right: 20px;
        z-index: 1000;
        width: 40px;
        height: 40px;
        border-radius: 8px;
        background-color: black;
        color: white;
    }

    #sidebar {
        display: none;
    }
    
    #center-page {
        width: 100%;
        margin-left: 30px;
    }

    #sidebar.open {
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: white;
        z-index: 1000;
    }
}
