<p-drawer
  header="Edit Task"
  [closable]="true"
  [(visible)]="isDrawerVisible"
  (onHide)="closeDrawer()"
  position="right"
  id="drawer"
>
  <div id="drawer-body">
    <label for="title">Title: </label>
    <input
      type="text"
      id="title"
      (change)="this.selectedTask().title = txtTitle.value"
      formControlName="title"
      [value]="selectedTask().title"
      #txtTitle
    />
    <label for="desc">Description: </label>
    <textarea
      id="desc"
      cols="30"
      rows="10"
      (change)="this.selectedTask().desc = txtDesc.value"
      [value]="selectedTask().desc"
      formControlName="desc"
      #txtDesc
    ></textarea>
    <p>Date:</p>
    <input
      type="text"
      id="title"
      (change)="this.selectedTask().date = txtDate.value"
      formControlName="title"
      [value]="selectedTask().date"
      #txtDate
    />
    <div class="card flex justify-center" id="categories-list">
      <p>List:</p>
      <p-tag
        *ngIf="selectedTask().list_id"
        [value]="getListToString()"
        severity="danger"
        [rounded]="false"
      />
      <select
        #txtCategory
        (click)="changeCategory(txtCategory.value)"
        formControlName="categories-dropdown"
      >
        <ng-container *ngIf="selectedTask().list_id">
          <option
            *ngFor="let category of selectedTaskCategories()"
            [hidden]="getListToString() === category.category_title"
            [value]="category.category_id"
          >
            {{ category.category_title }}
          </option>
        </ng-container>
      </select>
    </div>
    <div id="tag-list">
      <p>Tags:</p>
      <p-tag
        severity="danger"
        (click)="showDialogTag()"
        value="+ Add Tag"
        [rounded]="true"
      />
      <p-dialog
        header="Choose a tag"
        [modal]="true"
        [(visible)]="visibleDialogTag"
        [style]="{ width: '25rem' }"
      >
        <p-tag
          *ngFor="let tag of excludedTags()"
          (click)="selectTag(tag)"
          [value]="tag.tag_title"
          [rounded]="true"
        ></p-tag>
        <div class="flex justify-end gap-2">
          <p-button
            label="Close"
            severity="secondary"
            (click)="visibleDialogTag = false"
          />
        </div>
      </p-dialog>
      <div class="newTags">
        <p-tag
          *ngFor="let tag of selectedTags()"
          [value]="tag.tag_title"
          [rounded]="true"
        ></p-tag>
      </div>
    </div>
    <div id="subtasks-list">
      <h2>SUBTASKS:</h2>
      <task-add-new (click)="visibleDialogSub = true"></task-add-new>
      <p *ngFor="let subtask of selectedSubtasks()">
        {{ subtask.subtask_title }}
      </p>
      <p-dialog
        header="Create a subtask"
        [modal]="true"
        [(visible)]="visibleDialogSub"
        [style]="{ width: '25rem' }"
      >
        <div class="flex items-center gap-4 mb-4">
          <label for="title" class="font-semibold w-24">Title</label>
          <input
            #txtTitleSub
            type="text"
            pInputText
            id="title"
            class="flex-auto"
            autocomplete="off"
          />
        </div>
        <div class="flex justify-end gap-2">
          <p-button
            label="Save"
            severity="secondary"
            (click)="saveNewSubTask(txtTitleSub.value)"
          />
          <p-button
            label="Close"
            severity="secondary"
            (click)="visibleDialogSub = false"
          />
        </div>
      </p-dialog>
    </div>
  </div>
  <ng-template #footer>
    <button type="submit" class="p-button-text" (click)="saveChanges()">
      Save changes
    </button>
  </ng-template>
</p-drawer>
<pop-message></pop-message>
